.box {
  background-color: chocolate;
  width: 100%;
  height: 240px;
  margin: auto;
}
.description {
  width: 100%;
  margin: auto;
}
.container {
  background-color: blueviolet;
  width: 100%;
  height: 480px;
  margin: auto;
}
#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  background-color: #29f3e2;
  font-size: 12px;
  margin: auto;
}
