.portfolio {
  height: 600px;
  width: 100%;
  background-color: khaki;
  display: flex;
  flex-direction: column;
}
.about-inner {
  width: 100%;
  /* background-color: khaki; */
  display: flex;
  flex-direction: column;
}
@media (min-width: 400px) {
  .about-inner {
    flex-direction: row-reverse;
    /* width: 50%; */
  }
}

.portfolio-h2 {
  font-size: 22px;
  color: #c6488c;
  height: 50px;
  background-color: lavender;
  padding-top: 60px;
  text-align: left;
  margin-left: 15px;
}
@media (min-width: 400px) {
  .about-h2 {
    margin-left: 5%;
  }
}

.portfolio-description {
  font-size: 16px;
  height: 240px;
  background-color: lightblue;
  text-align: left;
  margin-left: 15px;
  width: 80%;
}

@media (min-width: 400px) {
  .about-description {
    width: 50%;
    margin-left: 5%;
    /* width: 50%; */
  }
}
/* .about p {
      text-align: left;
      margin-left: 15px;
      width: 80%;
    } */

.portfolio-box {
  height: 240px;
  background-color: lightcoral;
}
@media (min-width: 400px) {
  .about-box {
    width: 50%;
    /* width: 50%; */
  }
}
/* .about-illustration{
        background-image: url(../Images/about-rocketgirl_320x240.png);
       background-position: center center; 
      background-repeat: no-repeat;
      background-attachment: fixed;
    } */
