.portfolio {
  height: 600px;
  width: 100%;
  background-color: khaki;
  display: flex;
  flex-direction: column;
}

.portfolio-h2 {
  font-size: 22px;
  color: #c6488c;
  height: 50px;
  padding-top: 60px;
  text-align: left;
  margin-left: 15px;
}

@media (min-width: 400px) {
  .portfolio-h2 {
    margin-left: 5%;
  }
}

.portfolio-description {
  font-size: 16px;
  height: 80px;
  text-align: left;
  margin-left: 15px;
  width: 90%;
}

@media (min-width: 400px) {
  .portfolio-description {
    width: 50%;
    margin-left: 5%;
  }
}

.container-portfolio {
  height: 480px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 400px) {
  .container-portfolio {
    flex-direction: row;
  }
}

.display-grid {
  height: 360px;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  grid-gap: 40px 80px;
  justify-content: flex-start;
  margin-left: 15px;
}

@media (min-width: 400px) {
  .display-grid {
    width: 50%;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
  }
}
