.tech {
  height: 600px;
  width: 100%;
  background-color: khaki;
  display: flex;
  flex-direction: column;
}

.tech-h2 {
  font-size: 22px;
  color: #c6488c;
  height: 50px;
  padding-top: 60px;
  text-align: left;
  margin-left: 15px;
}

.tech-description {
  font-size: 16px;
  height: 80px;
  text-align: left;
  margin-left: 15px;
  width: 80%;
}

.tech-box {
  height: 240px;
  background-color: lightcoral;
}
