@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500&family=Poppins:wght@100&display=swap");

.App {
  text-align: center;
  font-family: "Epilogue", sans-serif;
}
.App-body {
  margin: 0;
}
.App-container {
  height: 1500px;
}

hr.solid {
  border-top: 3px solid #bbb;
}
