/* @import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500&family=Poppins:wght@100&display=swap");

.App {
  font-family: "Epilogue", sans-serif;
  font-family: "Poppins", sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
} */
