/* colors*/
:root {
  --color-primary: var(--swatch-yellow);
  --color-text: var(--swatch-black);
}

/*Space*/
:root {
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 24px;
  --space-large: 48px;
}

/*Other*/
:root {
  --border-radius: var(--space-small);
}
